.Container-fluid-logopage{
    background-color: #D9CAB3;
    height: 70vh;
    margin-top: 70px;
 background-size: contain;
 background-repeat: no-repeat;
 justify-content: center;
 align-items: center;
 text-align: center;
  
 
}

