.Container-fluid-logopage{
    background-color: #3b9bf7;
    height: 80vh;
    margin-top: 70px;
 background-size: contain;
 background-repeat: no-repeat;
 justify-content: center;
 align-items: center;
 text-align: center;
  
 
}

.wtti{
    color: #2C2E43;
    list-style: none;
    position: relative;
}

.imgsssl{
    border: none;
    height: 20%;
    width: 73%;
}

/* .wtti::after{
    content: "";
    position: absolute;
    height: 80vh;
    width: 100vh;
    background: white;
    border-left: 2px solid rgb(255, 255, 255);
    left: 0;
    animation: typing 1.5s steps(20)infinite; */
/* } */

@keyframes typing {
    100%{
        left: 100%;
        margin: 0 -35px 0px 35px;
        
    }
}

.imgsss{
    text-Align: center;
    align-Items:center;
    height: 45%;
    width: 50%; 
    margin-left: 25%;
    border: none;
}