.search-heading {
    margin-bottom: 20px;
    padding: 10px;
}
.container-car{
    background-color: rgb(248, 248, 248);
    height: 50px;
}
.buttoncl{
    margin-Top: '14px';
    padding-Right: "10px";
    background-Color: "rgb(80 109 139)";
    border-Radius: '4px'; 
    color: 'white'
}
.container-cars{
    background-color: rgb(248, 248, 248);
    height: 100px;
    border-radius: 5px;
}

.container-card{
    width: 100%;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;

}

element.style {
    width: 30%;
    float: right;
    padding-top: 7px;
    background-color: rgb(248, 248, 248);
    margin-right: 59px;
    border-radius: 4px;
}
.body{
    background-color: rgb(240, 238, 238);
    margin-top: 10px;

}
.cardsss{
    background-color: rgb(231, 218, 201);
    border: 1px solid rgb(122, 122, 122);
    
}
.bttnsss{
    background-color: rgb(39, 156, 202);
    color: white;
    border: 1px solid rgb(179, 179, 179);
    height: 40px;
    width: 115px;
    border-radius: 10px;
   
}

.bttnsss:hover{
    background-color: rgb(126, 209, 241);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(10, 10, 10);
    height: 40px;
    width: 115px;
    border-radius: 10px;
   
}


.cardbody{
    background-color: rgb(221, 220, 219);
}
.btnsss:hover{
    background-color: rgb(138, 217, 248);
    border: 1px solid rgb(121, 120, 120);

}
