.container-taxijob{
    background-color: rgb(255, 255, 255);
    height: 100%;
}

.row-taxijob{
    height: 100%;
    width: 90%;
    background-color: #fffdfd;
    border-radius: 10px;
    color: #636364;
    border: 1px solid lightgray;
    margin-top: 10px;

}

.jobheader{
    display: flex;
    gap: 50%;
}

.taxijobimage{
    display: flex;
    justify-content: end;
    justify-items: end;
    width: 80px;
    height: 80px;
    border: none;
}

.rowtext1{
    text-align: start;
    margin-left: 15px;
}
.rowtext{
    text-align: start;
    margin-left: 15px;
    font-size: 17px;
    margin-top: 10px;
    font-family:sans-serif;
}

.imgtxi{
    height: 100px;
    width: 100px;
    border: none;
    margin-left: -50px;
    margin-top: -14px;
}

.Tabss{
    background-color: rgb(255, 255, 255);
}
.inputh1{
    background-color: #ffffff;
    height: 40px;
    text-align: start;
    color: #ffcc00;
    margin: 0px;
}
.bttnss{
    display: flex;
    justify-content: center;
  
}
.bt{
    background-color: #cc0000;
    border: none;
    border-radius: 8px;
    color: white;
    height: 40px;
}

.container-taxi{
    background-color: rgb(255, 255, 255);
    height: 88vh;
    width: 90%;
    
}
.row-taxijobs{
    display: flex;
    justify-content: center;
}

.row-taxidetailss{
   
 
    width: 92%;

}
.textarea{
    width: 80%;
    height: 100px;
    border: 1px solid rgb(39, 39, 39);
    outline: none;
}
p{
    font-size: 18px;
}

.row-dt{
    display: flex;
}

.cmpnyname{
    width: 80%;
    border: 1px solid rgb(39, 39, 39);
    height: 30px;
}
.row-useredit{
    display: flex;
}

.inputsss{
    border: 1px solid rgb(39, 39, 39);
    outline: none;

}
.email{
    margin-left: 5rem;
}
h6{
    font-size: 15px;
}

@media screen and (max-width: 580px) {
    .inputsss{
        border: 1px solid rgb(39, 39, 39);
        height: 20px;
        width: 80px;
    
    }
    h6{
        font-size: 12px;
    }
    .contact{
        margin-left: 13px;
    }
    .imgtxi{
        height: 100px;
        width: 100px;
        border: none;
        margin-left: -50px;
    }
}


@media screen and (max-width: 390px) {
    .inputsss{
        border: 1px solid rgb(39, 39, 39);
        height: 20px;
        width: 60px;
    
    }
    h6{
        font-size: 10px;
    }
    .contact{
        margin-left: 13px;
    }
    .email{
        margin-left: 68px;
    }
    .imgtxi{
        height: 100px;
        width: 100px;
        border: none;
        margin-left: -70px;
    }
    .bttnss{
        display: flex;
        justify-content: left;
    }
}

.row-taxidetailss {
    overflow-x: auto;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th,
  td {
    text-align: left;
    padding: 8px 5px;
  }
  tr:nth-child(even) {
    background-color: #e2e2e2;
  }
  tr:nth-child(odd) {
    background-color: #cacaca;
  }

  @media screen and (max-width: 750px) {

    .bt{
        background-color: #cc0000;
        border: none;
        border-radius: 8px;
        color: white;
        height: 40px;
        font-size: 11px;
    }
  }