.container-taxijobs{
    background-color: rgb(235, 232, 232);
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-taxi{
    background-color: rgb(255, 255, 255);
    height: 88vh;
    width: 90%;
    
}
.imgtxii{
    height: 100px;
    width: 100px;
    border: none;
    margin-top: -14px;  
    /* margin-left: -20px; */
}
.row-taxijobs{
    display: flex;
}

.imgcol{
    display: flex;
    justify-content: center;
}
.btadd{
    background-color: #13ad2d;
    border: none;
    border-radius: 8px;
    color: white;
    height: 40px;
}


.btntaxi{
    display: flex;
    justify-content: center;
}
.btnstaxi{
    background-color: rgb(23, 129, 216);
    border: none;
    height: 40px;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 4px 4px 0px rgb(73, 73, 73);
}
.btnstaxi:hover{
    background-color: rgb(112, 189, 252);
    border: none;
    height: 40px;
    color: white;
    border-radius: 10px;
    box-shadow: 2px 4px 4px 0px rgb(73, 73, 73);
}
.row-taxidetails{
    border: 1px solid rgb(39, 39, 39);
    height: 390px;
    width: 92%;
    background-color: #e1dfdf;
}
.textarea{
    width: 80%;
    height: 100px;
    border: 1px solid rgb(39, 39, 39);
    outline: none;
}
p{
    font-size: 18px;
}

.row-dt{
    display: flex;
}

.cmpnyname{
    width: 80%;
    border: 1px solid rgb(39, 39, 39);
    height: 30px;
}
.row-useredit{
    display: flex;
}

.inputsss{
    border: 1px solid rgb(39, 39, 39);
    outline: none;

}
.email{
    margin-left: 5rem;
}
h6{
    font-size: 15px;
}

@media screen and (max-width: 580px) {
    .inputsss{
        border: 1px solid rgb(39, 39, 39);
        height: 20px;
        width: 100px;
    
    }
    h6{
        font-size: 12px;
    }
    .contact{
        margin-left: 13px;
    }
}


@media screen and (max-width: 390px) {
    .inputsss{
        border: 1px solid rgb(39, 39, 39);
        height: 20px;
        width: 60px;
    
    }
    h6{
        font-size: 10px;
    }
    .contact{
        margin-left: 13px;
    }
    .email{
        margin-left: 68px;
    }
    .imgtxii{
        height: 70px;
        width: 70px;
        border: none;
        margin-left: -20px;
        margin-top: 4px;
    }
}

.btngiver{
    height: 40px;
    border: none;
    border-width: 1px 1px 1px 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    background-color: white;
}

.btngiver:hover{
    height: 42px;
    border: none;
    border-width: 1px 1px 1px 1px solid;
    border-bottom: 1px solid red;
    border-left: 1px solid red;
    border-right: 1px solid red;
    background-color: white;
}

.btngiver1{
    height: 40px;
    border: none;
    border-width: 1px 1px 1px 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    background-color: white;
}
.btngiver:hover{
    height: 42px;
    border: none;
    border-width: 1px 1px 1px 1px solid;
    border-bottom: 1px solid red;
    border-left: 1px solid red;
    border-right: 1px solid red;
    background-color: white;
}


.btnssgiver{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}