.Profile h1{
    color: #2C2E43;
    text-transform: capitalize;
    
}
.ProPic{
    border-radius: 40px;
    font-size: 60px;
    size: 50px;
   
}
.Profile{
    background-color:rgb(255, 255, 255);
  
}
.photoicon a{
    font-size: 25px;
}
.ProPic:hover{
    border: solid rgb(255, 255, 255);
}
.Heading{
    
}
.filess{
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 5px;
    text-align: center;
    background-color: #ffffff;
    background-image: url('../../components/profile/camra1.png');
    background-size: 70px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
  
}

.Data{
    background-color: rgb(240, 238, 238);
    color: #2C2E43;
    border: 1px solid rgb(185, 185, 185);
}
.form-control{
    border-radius: 50px;
    border-top: aliceblue;
    border-right: yellowgreen;
    border-left: aliceblue
}
.form-control:focus{
    border-top: aliceblue !important;
    border-right: yellowgreen !important;
    border-left: aliceblue !important;
    outline: none !important;
    box-shadow: none !important;
}
.Data .Button{
    background-color:#170055;
    border: none;
    justify-content: center;
    text-align: center;
    color: white;
}
.Button:hover{
    background-color: #240281;
}