.container-fluid-chats{
    background-color: #ffffff;
    height: 80vh;
}
.comchats{
    border-Bottom: "solid 0.0px gray"; 
}


.imgcard{
    height: 270px;
    width: 270px;
    border-Radius: 0px
}
