.container-fluid-home {
    background-color: #E7D5C7;
    padding-bottom: 114px;
}

h3 {
    color: purple;
}
.Tlogo{
   
   background-size: 20px;
}
h4 {
    color: purple;
    
}
.Dat {
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    border-radius: 30px;
    height: 43vh;

}
/* .Tlogo
{
    background-image: url(../Home/Trafficinfo.png);
} */
.row-home{
    background-image: url(../Home/Trafficinfo.png);
background-repeat: no-repeat;
background-size: 100px;
height: 100px;
background-position:center ;
margin-top: 17px;
}
#Card1 {
   
    background-size: 10px;
    background-repeat: no-repeat;
    color: white;
}

#Card2 {
    background-image: url(../../assets/Home/pic2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

#Card3 {
    background-image: url(../../assets/Home/taxi1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

#Card4 {
    background-image: url(../../assets/Home/taxi4.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}



.Home-buttons:hover {
    background-color: green;
}
@media screen and (max-width: 375px) {
    .custom_btn_company{
      background-color: blue !important;
      width: 100% !important;
    }
  }