.container-fluid-home {
    background-color: #ffffff;
    height: 100%;
    padding-bottom: 90px;
    color: #2C2E43 !important; 
}
.row-home{
    background-image: url(../Home/Trafficinfo.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;

}
h3 {
    color: #2C2E43;
}
.Tlogo{
   
   background-size: 20px;
}
h4 {
    color: #2C2E43;
}
.Dat {
    background-color: rgb(231, 231, 231);
    flex-direction: column;
    border-radius: 30px;
    height: 43vh;
    border: 1px solid gray;

}
/* .Tlogo
{
    background-image: url(../Home/Trafficinfo.png);
} */
.row-home{
    background-image: url(../Home/Trafficinfo.png);
background-repeat: no-repeat;
background-size: 100px;
height: 100px;
background-position:center ;
margin-top: 17px;
}
#Card1 {
   
    background-size: 10px;
    background-repeat: no-repeat;
    color: white;
}

#Card2 {
    background-image: url(../../assets/Home/pic2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

#Card3 {
    background-image: url(../../assets/Home/taxi1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

#Card4 {
    background-image: url(../../assets/Home/taxi4.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.home-btn{
    width: 90%; 
    height: 80%; 
    background-Color: #279cca;
    font-Size:12px;
    border-Radius: 5px;
    color: white;
    border: none;
}
.home-btn:hover{
    background-color:#d1edf8 ;
    color: black;
}


.Home-buttons:hover {
    background-color: green;
}
@media screen and (max-width: 375px) {
    .custom_btn_company{
      width: 100% !important;
    }
  }