.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  .rowss{
    background-color: #E7D5C7;
  }
  h2{
    color: purple;

  }
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
}

.Listflat{
    font-size: 43px;
}
.notification{
    font-size: 30px;
}
.offcanvas-start{
    width: 235px !important;
}
.offcanvas-title {
    margin-bottom: 0;
    line-height: 1.5;
    
   text-align: center;
   
}
img{
    width: 20px;
    border-radius: 50%;
    border: 4px solid white;
}
.abc a{
    font-weight: 2px;
}
.image{
    width: 57px;
    border-radius: 50%; 
}
.offcanvas-header {
    padding: .5rem .5rem;
    margin-top: -.5rem;
    margin-right: -.5rem;
    margin-bottom: auto;
    
    
}

.offcanvas-start {
    width: 235px !important;
    background-color: #e7d5c7;;

}
.offcanvas-body {
    flex-grow: 1;
    padding: 1rem 1rem;
   background-color: #e7d5c7;
}
