.container-fluid-groupchat{
    background-color: rgb(232, 230, 230);

}
    
 
    .header{
        background-color: #ffffff;
        text-align: center;
        padding: 20px;
        border-bottom-right-radius: 30px ;
        border-bottom-left-radius: 30px;
        
    }
    .col-8{
        margin-left: 0px;
    }

    .btn{
        height:40px;
        width: 25%;
        color:#2C2E43;
        font-Family:'Anton', sans-serif;
        
    }
    
   
    .groups{
        text-align: left;
    }
    .btn{
        padding: 3px;
        margin: 3px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        color: #aa6b3b;
        font-size: 15px;
        border: 1px solid rgb(153, 150, 150);
        
        
    }
    .button{
        display: flex;
        
           
    }
    
    
    
    .imges{
        width: 50px;
        height: 50px;
    }
    .hi{
        display: flex;
        background-color: white;
        border-radius: 20px;
        margin-right: 20px;
    }
    
