.container-fluid-login{

    background-image: url(../login/background.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
}

.Data{
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    border-radius: 30px;
    width: 73vw;
}
.Button{
    width: 150px;
    
}

/* .textss{
    background-color: rgba(255, 255, 255, 0.452);
} */

