.App {
  text-align: center;
}
.container-messages{
  background-color: #61dafb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.container-fluid-msgs{
  background-color: #ffffff;
  height: 100vh;

}
.container-fluid-mgs{
  background-color: white;
height: 100vh;
}
.css-kma3qh {
  height: 100px;
  width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
img {
  border-radius: 50%;
  /* height: 45px; */
   height: 42px;
   width: 45px;
    /* margin-top: -10px; */
  margin-top: 0px;
  border: 2px solid black;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 25px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  overflow-wrap: break-word;
}

.msg {
  /* display: flex; */
  /* text-align: center; */
  padding: 20px 10px 0 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(164, 164, 164);
  /* align-items: center; */
}

.sent {
  background-color: #769ee9;
  color: white;
  /* border-top-right-radius: 1000px; */
  flex-direction: row-reverse;
  padding: 20px 20px 0 10px;
  text-align: end;
  float: right;
  display: flex;
  flex-wrap: wrap;
}

.received {
  border: 1px solid lightgray;
  background-color: #FAFAFA;
  /* border-top-left-radius: 1000px; */
  float: left;
  display: flex;
  flex-wrap: wrap;
}
.img, svg{
  font-size: 21px !important ;
}

.sendMsg {
  position: fixed;
  display: flex;
  width: 102%;
  bottom: 0;
  z-index: 1;
  border-top: 1px solid lightgray;
  margin-left: -5px;
  padding: 10px;
  padding-bottom: 30px;
  background-color: #D9CAB3;
}

.msgs {
  margin: 100 px 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  background-color: white;
 
}


@media (max-width: 775px) {
  p {
    font-size: 20px;
  }
  .sent {
    padding: 10px 10px 0 10px;
    display: flex;
    flex-wrap: wrap;
    
  }
  .received {
    padding: 10px 10px 0 10px;
    display: flex;
    flex-wrap: wrap;
  }
  
  
}

@media (max-width: 500px) {
  p {
    font-size: 15px;
  
  }
  .sent {
    padding: 7px 7px 0 7px;
    
  }
  .received {
    padding: 7px 7px 0 7px;
    display: flex;
    flex-wrap: wrap;
  }
  img {
    margin-top: 0px;
    
 }
 
}


