
._1ceqH ._1lB9c {
 
    background: #ffffff;
   
}
._1ceqH ._1Yplu ._1Pz2d {
    float: right;
    margin-top: 230px;
}
._1ceqH ._3bC73 ._1dpop {
   
    
    transform: translateX(-50%);
    bottom: 20px;
}
._1ceqH ._1Yplu ._1Pz2d:hover {
    margin-left: 40px;
}

._1ceqH ._1Yplu ._2gd2_ {

    /* margin-top: 10px; */
   float: left;
}
._1ceqH ._qxztz ._1bSom {
    margin-left: 34px;
}
._1ceqH ._1lB9c {
    background-color: wheat;
}
._1ceqH ._1Yplu ._2gd2_ {
margin-left: none !important;
}

._1ceqH ._3bC73 ._1dpop {
    left: 57%;
}