.container-fluid-branch{
    background-color        : #3b9bf7;
    height                  : 80vh;
    text-align              : center;
    margin-top              : 20px;
}
.row1-branch{
    background-image        : url(../../images/trafficsign.jpg);
    background-position     : center;
    background-size         : 200px;
    background-repeat       : no-repeat;
    height                  : 40%;
}