.container-fluid-social{
    background-color: #ffffff;
    height: 100%;
}

/* .row-social{
    background-image: url(../../images/socialtraffic.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 60%;
} */
.imgsss{
 position: inherit;
height: 100%;
width: 80%;
border: none;
}
.socsev{
    color: #2C2E43
}
.row2-branch{
    display: flex;
    justify-content: center;
}